@import url('https://fonts.googleapis.com/css2?family=Poppins:400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0 px;
    font-family: "Poppins",sans-serif;
}
header
{
    width:300px;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f2f3f7;
}
h1 
{
    font-weight: bold;
    font-size: 45px;
    padding: 2px;
    margin: 2px;
    text-align: center;
}
h3 
{
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    letter-spacing: 1px;
}
h4 
{
    font-weight: bold;
    font-size: 16px;
    padding: 2px;
    margin: 2px;
    text-align: center;
    letter-spacing: 1px;
}
a
{
    position: relative;
    display: inline-block;
    padding: 20px 30px;
    margin: 20px;
    text-decoration: none ;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    color: #5a84a2;
    font-size: 18px;
    border-radius: 40px;
    box-shadow: -2px -2px 8px rgba(255,255,255,1),
                2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                inset 2px 2px 8px rgba(255,255,255,0.15),
                2px 2px 8px rgba(0,0,0,0.15);

}
a:hover
{
    box-shadow: inset -2px -2px 8px rgba(255,255,255,1),
                inset -2px -2px 12px rgba(255,255,255,0.5),
                inset 2px 2px 4px rgba(255,255,255,0.1),
                inset 2px 2px 8px rgba(255,255,255,0.15),
                inset 2px 2px 8px rgba(0,0,0,0.15);
}
a:hover span
{
    display: inline-block;
    transform: scale(0.98);
}